/* Layout */

.container {
	margin: 0 auto;
	max-width: 800px;
	padding: 1em;
}

.title {
	margin-top: 0;
}

/* Common */

a,
.link {
	color: #00f;
	cursor: pointer;
	text-decoration: underline;
}
button.link {
	background-color: transparent;
	border-style: none;
	padding: 0;
}
:link[href^="http:"]::before,
:link[href^="https:"]::before {
	content: "\f08e";
	display: inline-block;
	font-size: inherit;
	-webkit-font-smoothing: antialiased;
	font: normal normal normal 14px/1 FontAwesome;
	margin-right: 0.1em;
	text-rendering: auto;
}

.row {
	display: flex;
}
.row > .col {
	width: 100%;
}

.block {
	display: block;
}

.text-right {
	text-align: right;
}

/* Specific */

.loadingIndicator {
	left: 0;
	text-align: center;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transition: opacity 300ms;
	width: 100%;
}
.loadingIndicator.loading {
	opacity: 1;
	transition: none;
}
