.container {
	margin: 0 auto;
	max-width: 800px;
	padding: 1em;
}

a,
.link {
	color: #00f;
	cursor: pointer;
	text-decoration: underline;
}
button.link {
	background-color: transparent;
	border-style: none;
	padding: 0;
}

.title {
	margin-top: 0;
}
